@import "tailwindcss";
@plugin "daisyui";

/* Respect system color scheme preference */
body{
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #ffffff;
        color: black;
    }
    
}

.active {
    border: 2px solid lightcoral;
    border-radius: 5px;
    padding: 8px;
    color: lightcoral;
}